<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>MY AAA</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Nanum+Gothic&display=swap" rel="stylesheet">
    <link href="/css/background.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"
            crossorigin="anonymous"></script>

    <style>
        *{
            font-family: 'OTWelcomeRA';
        }
    </style>
</head>


<body background="/assets/img/background_img.png">
</body>

<div style="height: 200px;">

</div>

<div style="text-align: center;color:white; height:250px;">

    <span style="font-size: 70px;font-weight: bold; margin-bottom: -20px"> A A A </span>

    <div style="text-align: center;font-size:24px;color:white; margin-top: -25px">
        <h5>Asset Allocation for All </h5>
    </div>

    <hr width = "40%" color="#ff7f00" align="center" style="border: solid 2px darkorange">

    <div style="text-align: center;font-size:20px;color:white; margin-top: -10px">
        <br>
        <p><i>MY AAA는 </i></p>
        <p><i>투자에 시간을 할애하기 어려운 현대인들을 대상으로 하는</i></p>
        <p><i>자산 배분 추천 서비스입니다</i></p>
    </div>
    <br>

    <hr width = "40%" color="#ff7f00" align="center" style="border: solid 2px darkorange">
</div>

<div style="height: 170px;"></div>

<div style="text-align: center";>
    <!--
    <button class="warning" onclick = "location.href = '/oauth2/authorization/naver'" style="color:white; background:#ff7f00;text-align: center;font-size:15px; padding: 5px 20px;border-radius: 10px;cursor: pointer;">
        로그인
    </button>
    -->
    <button class="warning" onclick = "location.href = '/oauth2/authorization/naver'" style="all: unset; color:white; background:#ff7f00;text-align: center;font-size:20px; padding: 5px 20px;border-radius: 20px;cursor: pointer;">
        <!-- <a href="/oauth2/authorization/naver">로그인하기</a> -->
        로그인하기
    </button>
</div>
</html>