<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>MY AAA</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Nanum+Gothic&display=swap" rel="stylesheet">
    <link href="/css/background.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"
            crossorigin="anonymous"></script>

    <style>
        *{
            font-family: 'Nanum Gothic', sans-serif;
        }
    </style>
</head>


<body background="/assets/img/background_img.png">
</body>

<div style="height: 280px;">

</div>

<div style="text-align: center;color:white; height:auto;">

        <span style="font-size: 65px;font-weight: bold; margin-bottom: -20px"> A A A </span>

    <div style="text-align: center;font-size:24px;color:white; margin-top: -25px">
        <h5>Asset Allocation for All </h5>
    </div>
    <hr width = "90%" color="#ff7f00">
</div>

<div style="height: 100px;"></div>

<div style="text-align: center";>
    <button  style="color:white; background:#ff7f00;text-align: center;font-size:15px; border-radius:0.5em; padding:5px;width:6%;height:40%;">
        <a href="/oauth2/authorization/naver">로그인하기</a>
    </button>
</div>
</html>

